# Build output
public/assets/*
!public/assets/.gitkeep
public/favicon.ico

# Optional test assets
icons/*
!icons/.gitkeep

# This branch only
!icons/*.svg

# OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
