* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f2f5f7;
  color: rgba(0, 0, 0, 0.85);
  font-family: sans-serif;
  line-height: 1.5;
}

/* UI for demo */

.ui {
  background: #fff;
  box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.1);
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
}

/* Result stats */

.stats {
  display: grid;
  grid-row-gap: 0.375em;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em;
}

.stats__item dd {
  font-size: 1.5em;
}

.stats__meta {
  display: flex;
  font-size: 0.875em;
  gap: 1ch;
  grid-column: span 2;
}

.stats__meta dt::after {
  content: ':';
}

/* Controls for test */

.controls {
  border-top: 1px solid #f2f5f7;
  display: grid;
  grid-column-gap: 1ch;
  grid-row-gap: 1em;
  grid-template-columns: auto 1fr;
  padding: 1.5em;
  white-space: nowrap;
}

.controls__action {
  grid-column: span 2;
}

/* Icon grid */

.icons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 1.5em;
}

.icons > * {
  color: var(--color-blue);
  fill: currentColor;
  flex: none;
  stroke: currentColor;
  stroke-width: 0;
}

.icons > :nth-child(2n) {
  color: var(--color-green);
}

.icons > :nth-child(3n) {
  color: var(--color-purple);
}

.icons > :nth-child(4n) {
  color: var(--color-pink);
}

/* Technique: Filter */

.icons[data-technique="filter"] > * {
  filter: var(--filter-blue);
}

.icons[data-technique="filter"] > *:nth-child(2n) {
  filter: var(--filter-green);
}

.icons[data-technique="filter"] > *:nth-child(3n) {
  filter: var(--filter-purple);
}

.icons[data-technique="filter"] > *:nth-child(4n) {
  filter: var(--filter-pink);
}

/* Technique: Mask */

.icons[data-technique="mask"] > * {
  background: currentColor;
  display: inline-block;
  height: 1.5em;
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  width: 1.5em;
}

/* Utility classes */

.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: polygon(0 0, 0 0, 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
