* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f2f5f7;
  color: rgba(0, 0, 0, 0.85);
  font-family: sans-serif;
  line-height: 1.5;
}

/* UI for demo */

.ui {
  background: #fff;
  box-shadow: 0 0.125em 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media (min-height: 30em) {
  .ui {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

@media (min-width: 38em) {
  .ui {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .ui {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Stats */

.stats {
  display: flex;
  gap: 1em;
  padding: 1.5em;
  text-align: center;
}

.stats__item {
  flex: 1;
}

.stats__item dd {
  font-size: 1.5em;
}

@media (min-width: 60em) {
  .stats__item dd {
    font-size: 2em;
  }
}

/* Controls for test */

.controls {
  border: 0 solid #f2f5f7;
  border-top-width: 1px;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'options options'
    'meta action';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  padding: 1.5em;
}

@media (min-width: 38em) {
  .controls {
    border-left-width: 1px;
    border-top-width: 0;
  }
}

@media (min-width: 64em) {
  .controls {
    border-left-width: 0;
    grid-column: 3;
  }
}

.controls__options {
  align-items: center;
  display: grid;
  grid-area: options;
  grid-column-gap: 1ch;
  grid-row-gap: 1em;
  grid-template-columns: auto 1fr;
  white-space: nowrap;
}

.controls__options select,
.controls__options input {
  font-size: inherit;
  min-width: 0;
}

.controls__meta {
  align-self: center;
  grid-area: meta;
  font-size: 0.875em;
}

.controls__action {
  appearance: none;
  background: #215cca;
  border: 2px solid #183889;
  border-radius: 0.375em;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  line-height: 1;
  grid-area: action;
  padding: 0.5em 0.75em;
}

.controls__action:disabled {
  cursor: not-allowed;
  filter: grayscale(60%);
  opacity: 0.85;
}

/* Icon grid */

.icons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 1.5em;
}

.icons > * {
  color: var(--color-blue);
  fill: currentColor;
  flex: none;
  stroke: currentColor;
  stroke-width: 0;
}

.icons > :nth-child(2n) {
  color: var(--color-green);
}

.icons > :nth-child(3n) {
  color: var(--color-purple);
}

.icons > :nth-child(4n) {
  color: var(--color-pink);
}

/* Technique: Filter */

.icons[data-technique*="filter" i] > * {
  filter: var(--filter-blue);
}

.icons[data-technique*="filter" i] > *:nth-child(2n) {
  filter: var(--filter-green);
}

.icons[data-technique*="filter" i] > *:nth-child(3n) {
  filter: var(--filter-purple);
}

.icons[data-technique*="filter" i] > *:nth-child(4n) {
  filter: var(--filter-pink);
}

/* Technique: Mask */

.icons[data-technique*="mask"] > * {
  background: currentColor;
  display: inline-block;
  height: 1.5em;
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  width: 1.5em;
}

/* Technique: BG */

.icons[data-technique*="bg"] > * {
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
}

/* Sweet linkage */

.linkage {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  list-style: none;
  padding: 3vh;
  position: fixed;
  width: 100%;
}

.linkage a {
  background: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.375em;
  color: #215cca;
  display: block;
  line-height: 1.1;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: underline;
}

.linkage a:not(:hover) {
  text-decoration-color: #8abfff;
}

.linkage > :not(:first-child) a {
  border-bottom-left-radius: 0;
  border-left-width: 1px;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.linkage > :not(:last-child) a {
  border-bottom-right-radius: 0;
  border-right-width: 0;
  border-top-right-radius: 0;
}

/* Utility classes */

.u-hidden-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: polygon(0 0, 0 0, 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
